@charset "UTF-8";

.segundoCampoSobre{
    margin: 0 auto;
    height: auto;
    width: 60%;
    padding: 0!important;
    overflow: hidden;
    height: 90%;
    border-radius: 0 0 40px 40px;
    margin-bottom: 60px;
    
    

}
.slider-content{
    height: auto;
    width: 400%;
    display: flex;
    
    
    
}
.slider-content input, .imgCelular{
    display: none;
}
.sliderCampo{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    
   
}

.sliderCampo img{
    width: 1158px;
    height: 700px;

}

.naveManual, .naveAuto{
    position: absolute;
    width: 60%;
    margin-top: 38.5%;
    
    display: flex;
    justify-content: center;
    
    border-radius: 30px;
   
}
.naveManual .manualBtn, .naveAuto div{
    border:  2px solid rgba(0, 0, 0, 0.438);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    
    
    
    
}
.naveManual .manualBtn:not(:last-child), .naveAuto div:not(:last-child){
    margin-right: 10px;
}

.naveManual .manualBtn:hover{
    background-color: white;
}


#radio1:checked ~ .naveAuto .autoBtn1,
#radio2:checked ~ .naveAuto .autoBtn2,
#radio3:checked ~ .naveAuto .autoBtn3,
#radio4:checked ~ .naveAuto .autoBtn4,
#radio5:checked ~ .naveAuto .autoBtn5,
#radio6:checked ~ .naveAuto .autoBtn6,
#radio7:checked ~ .naveAuto .autoBtn7,
#radio8:checked ~ .naveAuto .autoBtn8,
#radio9:checked ~ .naveAuto .autoBtn9,
#radio10:checked ~ .naveAuto .autoBtn10,
#radio11:checked ~ .naveAuto .autoBtn11,
#radio12:checked ~ .naveAuto .autoBtn12
{
    background-color: white;
}


#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro{
    margin-left: -75%;
}
#radio5:checked ~ .primeiro{
    margin-left: -100%;
}
#radio6:checked ~ .primeiro{
    margin-left: -125%;
}
#radio7:checked ~ .primeiro{
    margin-left: -150%;
}
#radio8:checked ~ .primeiro{
    margin-left: -175%;
}
#radio9:checked ~ .primeiro{
    margin-left: -200%;
}
#radio10:checked ~ .primeiro{
    margin-left: -225%;
}
#radio11:checked ~ .primeiro{
    margin-left: -250%;
}
#radio12:checked ~ .primeiro{
    margin-left: -275%;
}


@media screen and (max-width: 1850px){
    .naveManual, .naveAuto{
        margin-top: 40%;
       
    }
    
     
}
@media screen and (max-width: 1750px){
    .naveManual, .naveAuto{
        margin-top: 41.5%;
        
       
    }
    
     
}
@media screen and (max-width: 1670px){
    .naveManual, .naveAuto{
        margin-top: 44%;
       
    }
    
     
}
@media screen and (max-width: 1550px){
    .naveManual, .naveAuto{
        margin-top: 48%;
       
      
       
    }
    
     
}
@media screen and (max-width: 1420px){
    
    .naveManual, .naveAuto{
        margin-top: 53%;
       
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
     
}
@media screen and (max-width: 1300px){
    
    .naveManual, .naveAuto{
        margin-top: 57%;
       
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
     
}
@media screen and (max-width: 1200px){
    
    .naveManual, .naveAuto{
        margin-top: 62%;
       
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
     
}
@media screen and (max-width: 1140px){
    
    .naveManual, .naveAuto{
        margin-top: 64%;
       
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
    .naveManual .manualBtn, .naveAuto div{
        padding: 15px;
    }

    
     
}
@media screen and (max-width: 1020px){

    .naveManual, .naveAuto{
        margin-top: 73%;

        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
    
     
}
@media screen and (max-width: 960px){

    .naveManual, .naveAuto{
        margin-top: 77%;
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
    
     
}
@media screen and (max-width: 870px){

    .naveManual, .naveAuto{
        margin-top: 85%;
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
     
}
@media screen and (max-width: 820px){

    .naveManual, .naveAuto{
        margin-top: 89%;
        width: 80%;
       
    }
    .segundoCampoSobre{
        width: 80%;
    }
    
    
    
     
}
@media screen and (max-width: 710px){

    .naveManual, .naveAuto{
        margin-top: 105%;
        width: 80%;
       
    }
    .sliderCampo img{
        width: 650px;
        
    
    }
    .segundoCampoSobre{
        width: 80%;
    }
    
     
}
@media screen and (max-width: 660px){
    .imgCelular{
        display: block;
    }
    .imgDesktop{
        display: none;
    }

    .naveManual, .naveAuto{
        margin-top: 105%;
        padding: 0px;
        transform: scale(.7);
        width: 80%;
    }
    .sliderCampo img{
        width: 600px;
        
    }
    .segundoCampoSobre{
        width: 80%;
    }
    .controleSobre h1{
        font-size: 52px;
    }
     
}
@media screen and (max-width: 590px){
    body{
        overflow-x: hidden; /* Remove a rolagem lateral */
    }
    
    .naveManual, .naveAuto{
        transform: scale(.7);
        width: 95%;
    }
    
    .segundoCampoSobre{
        border-radius: 0 0 8px 8px;
        width: 95%;
    }
    .sliderCampo img{
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 500px){
    
    
    .sliderCampo img{
        width: 400px;
        height: 400px;
    }
}
