@charset "UTF-8";


/*                                    CABEÇALHO                                           */

@media screen and (max-width: 1025px){
    header#imgFuCa {
        
        background-position: 80% 0%; /*100% na horizontal e 0% na vertical*/
    }
    .barraAmarela{
        width: 74.6%;
    }
    .botaoContato button{
        left: 80px;
    }

}
@media screen and (max-width: 1925px){
    .menu ul li{
        position: relative;
        left: 90px;
        
    }
}
@media screen and (max-width: 1425px){
    .barraAmarela{
        width: 77%;
    }
    .botaoContato button{
        left: 40px;
        
    }
}
@media screen and (max-width: 1240px){
    .barraAmarela{
        width: 77.9%;
    }
    .botaoContato button{
        left: 70px;
        
    }
    .menu ul li{
        padding: 0 10px;
        font-size: 20px;
    }
    
}
@media screen and (max-width: 1320px){
    .menu ul li{
        position: relative;
        left: 50px;
        
    }
}
@media screen and (max-width: 1110px){
    .barraAmarela{
        width: 76%;
    }
    .menu ul li{
        font-size: 18px;
    }
    
    
}
@media screen and (max-width: 1030px){
    .barraAmarela{
        width: 74%;
    }
    .botaoContato button{
        left: 50px;
        
    }
    .menu ul li{
        font-size: 17px;
    }
    
}
@media screen and (max-width: 1010px){
    .barraAmarela{
        width: 73%;
        left: 190px;
    }
    .botaoContato button{
        display: none;
        
    }
    li#ctt{
        display: block;
        cursor: pointer;
        background-color: rgb(0, 153, 255);
        color: white;
        border-radius: 18px;
        font-size: 19px;
        font-weight: bold;
    }
    .controleh1 h1{
        font-size: 85px;
    }

    
}
@media screen and (max-width: 900px){
    
    .menu{
        display: none;
        
    }
    .bi {
        width: 46px;
        font-size: 75px;
        top: 4px;
        z-index: 1;
        display: inline-block; /* Muda para inline-block para ser afetado por text-align */
        border-radius: 10px;
        position: relative;
        left: 230px;
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    
    
}
@media screen and (max-width: 870px){ 
    .barraAmarela{
        width: 75%;
        left: 130px;
    }
    .bi {
        left: 200px;
    }
    
   
    
}
@media screen and (max-width: 767px){
    .barraAmarela{
        width: 75%;
    }
    .logo img{
        right: 40px;
        
    }
    .bi {
        left: 190px;
    }
    
   
    
}
@media screen and (max-width: 670px){
    .barraAmarela{
        width: 78%;
        left: 90px;
    }
    .controleh1 h1{
        font-size: 78px;
        transform: translatey(360%);
    }
    .bi {
        left: 150px;
    }
    
    
    
}
@media screen and (max-width: 600px){
    header#imgFuCa {
        background-position: 50% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .controleh1 h1{
        font-size: 73px;
    }
    .bi {
        left: 128px;
    }
    
    
}
@media screen and (max-width: 590px){
    header#imgFuCa {
        background-position: 40% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .barraAmarela{
        width: 71%;
        left: 90px;
    }
    .controleh1 h1{
        font-size: 71px;
    }
    .bi {
        left: 100px;
    }
    
    
}
@media screen and (max-width: 550px){
    header#imgFuCa {
        background-position: 23% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .controleh1 h1{
        font-size: 65px;
        transform: translatey(375%);
    }
    .bi {
        left: 90px;
    }
    
    
}
@media screen and (max-width: 530px){
    header#imgFuCa {
        background-position: 20% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .barraAmarela{
        width: 71%;
    }
    .controleh1 h1{
        font-size: 60px;
        transform: translatey(410%);
    }
    .bi {
        left: -10px;
    }
    
    
}
@media screen and (max-width: 500px){
    header#imgFuCa {
        background-position: 10% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .barraAmarela{
        width: 65%;
    }
    .controleh1 h1{
        font-size: 50px;
        transform: translatey(480%);
    }
    .bi {
        left: -30px;
    }
    .teste h1{
        
        font-size: 50px;
        
    }

    
}
@media screen and (max-width: 500px){
    header#imgFuCa {
        background-position: 10% 0px; /*100% na horizontal e 0% na vertical*/
        background-size: auto;
    }
    .barraAmarela{
        width: 65%;
    }
    .controleh1 h1{
        font-size: 38px;
        transform: translatey(480%);
    }
    .bi {
        left: -50px;
    }

    
}

/*                                   CONTEÚDO                                          */
@media screen and (max-width: 1410px){
    .controle{
        gap: 100px;
        
    }
    .linha{
        display: none;
        
    }
}
@media screen and (max-width: 1170px){
    .controle{
        flex-wrap: wrap;
        
    }
    
}
@media screen and (max-width: 770px){
    .controle .primeiroCampoTxt h1{
        font-size:17px;
        display: inline-block;
        white-space: wrap;
        width: 290px;
        line-height: 26px;
        position: relative;
        top: 20px;
    
    }
     .controle .primeiroCampoTxt h3{
        font-size:14px;
        display: inline-block;
        white-space: wrap;
        width: 260px;
        position: relative;
        top: 45px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.644);
    }
    
    
    .controle .primeiroCampoTxt #pTexto{
        line-height: 38px;
        width: 240px;
        top: 40px;
        font-size: 16px;
    }
    
    .controle img{
        width: 250px;
        height: 450px;
        border-radius: 60px;
        margin-top: 20px;
    }
 
    
}

