@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    overflow-x: hidden; /* Remove a rolagem lateral */
    background-color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*                                    CABEÇALHO                                           */


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo preencha o container sem distorção */
    z-index: -1; /* Para ficar atrás do conteúdo */
}

.controleCabecalhoGeral{
    position: relative;
    bottom: 20px;
}
.barraAmarela{
    position: relative;
    background-color: yellow;
    top: 92px;
    left: 200px;
    height: 80px;
    width: 77.6%;
    border-radius: 20px;
    z-index: 0;
}
.controleCabecalho{
    margin: 0 auto;
    width: 80%;
    height: 55px;
    padding: 0px 30px;
    padding-top: 50px;
    border-radius: 30px 0px 0px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    z-index: 1;
    position: relative;
    right: 20px;
    bottom: 4px;
    max-width: 120px;
    
}

.menu{
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align:center; 
}

.menu ul li{
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0 20px;
    display: inline;
    font-size: 21px;
    position: relative;
    
}

.botaoContato{
    z-index: 1; 
}
.botaoContato button{
    position: relative;
    cursor: pointer;
    right: 20px;
    text-align: center;
    border: 0;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 23px 10px;
    border-radius: 18px;
    font-size: 21px;
    font-weight: bold;
}
li#ctt{
    display: none;
}
.controleh1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.controleh1 h1{
    font-size: 120px;
    color: white;
    
    font-weight: bolder;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.534);
    transform: translatey(200%);
    position: relative;
}


/*                                   CONTEÚDO                                          */
.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -20px -20px 119px 167px white;
    position: relative;
    bottom: 250px;  
    
}

.controle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-bottom: 120px;
    gap:100px ;
    
}


.controle .primeiroCampoTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
    
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 50px;
    
}
.texto h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 136, 226);
    padding: 30px;
    color: white;
    border-radius: 10px 10px 0 0;
    
}
.texto h3{
    background-color: rgba(0, 153, 255, 0.158);
    padding: 0px 19px;
    color: white;
    border-radius: 0 0 7px 7px;
}

.linha{
    position: relative;
    top: 78px;
    color: rgba(4, 155, 255, 0.089);
    font-size: 50px;
}
.controle .primeiroCampoTxt h1{
    text-align: center;
    font-size: 28px;
    white-space: nowrap;

    position: relative;

}
.controle .primeiroCampoTxt h3{
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.322);
    position: relative;
}
.controle .primeiroCampoTxt #h3Gordin{
    font-weight: bolder;
    color:rgb(0, 153, 255);
    font-size: 30px;
    transition: all 1s;
}

.controle .primeiroCampoTxt #pTexto{
    font-size: 19px;
    line-height: 30px;
    text-indent: 20px;
    text-align: justify;
    width: 80%;
    color: rgba(0, 0, 0, 0.267);
    box-shadow: 0px 20px 26px -24px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    padding: 10px;

    position: relative;
    top: 40px;
    transition: all 2s;
    
    
}
.controle .primeiroCampoTxt #pTexto:hover{
    color: rgb(0, 0, 0);
}

.controle img{
    
    width: 350px;
    height: 600px;
    border-radius: 5px;
    
    position: relative;
    animation:  flutuar 
                2s 
                ease-in-out 
                infinite 
                alternate;
    transition: 1s;

}
.controle img:hover{
    transform: scale(1.06);
}
@keyframes flutuar {
    0%{
        top: 0;
    }100%{
        top: 45px;
    }
}


/*                                   CONTEÚDO > Sobre                                    */


.sobreNos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(0, 153, 255);
    width: 100vw;
    height: 100%;
    border-radius: 40px;
    
    
}   
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 30%;
    
    
    
    
}
.controleSobre h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    
    
}
.primeiroCampoSobre{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    
    
}
#pTextoSobre {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    
}
#pTextoSobre i{
    color: rgb(230, 196, 4);
    padding: 0 3px;
    font-size: 100px;
    
    
}

.controleSobre .primeiroCampoSobre #pTextoSobre{
    text-align: justify;
    line-height: 30px;
    text-indent: 20px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0 ;
    font-size: 19px;
    width: 80%;
    height: 100%;
    padding: 5px;
    box-shadow:0px 0px 18px 3px rgba(0, 0, 0, 0.075);
    color: rgba(255, 255, 255, 0.623);
    border: .5px solid rgba(255, 255, 255, 0.116);
    transition: all 2s;
    
}
.controleSobre .primeiroCampoSobre #pTextoSobre:hover{
    color: black;
}
.controleSobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

/*                                   Depoimentos                                    */

.Depoimentos{
    background-color:yellow;
    width: 100vw;
    height: 100vh;
    border-radius: 40px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

} 
