@charset "UTF-8";

/*
    CORES:

            azul: rgba(0, 0, 0, 0.822);
            branco: #d14403;
            amarelo:  #ff5100e1;
    
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: white;
}

/*                                    CABEÇALHO                                           */

.controleCabecalho{
    margin: 0 auto;
    background-color:rgb(99, 153, 253);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
    
}
.controleCabecalho:hover{
    background-color:rgb(99, 153, 253);

    
}
.logo img{
    
    max-width: 100px;
}
.menu{
    display: flex;
    justify-content: center;
    text-align:center;
    
}

.menu ul li{
    
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0 20px;
    display: inline;
    
}
.botaoContato button{
    cursor: pointer;
}

.imgFundoCabecalho img{
    max-width: 100%;
    height: 1080px;
    
}

